<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<section>
    <div class="card">
        <div class="card-header">
            <h4>Řidiči
                <div class="float-right">
                    <a href="/person/new" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Přidat</a>
                </div>
            </h4>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Jméno</th>
                        <th>Příjmení</th>
                        <th>Osobní číslo</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${persons}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.firstName}"></td>
                        <td th:text="${p.lastName}"></td>
                        <td th:text="${p.personalNumber}"></td>
                        <td>
                            <a th:href="@{/person/edit/{id}(id=${p.id})}" class=""><i class="fas fa-edit mr-1"></i></a>
                            <a th:href="@{/person/delete/{id}(id=${p.id})}" class="text-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</html>