<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<section>
    <div class="card">
        <div class="card-header">
            <h4>Formulář řidiče</h4>
        </div>
        <div class="card-body">
            <form th:action="@{/route/save}" th:object="${route}">
                <input id="id" th:field="*{id}" type="number" hidden="hidden">

                <div class="form-group">
                    <label for="routefrom">Odkud</label>
                    <input id="routefrom" th:field="*{routefrom}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="routeto">Kam</label>
                    <input id="routeto" th:field="*{routeto}" class="form-control">
                </div>

                <div class="form-group">
                    <select id="driver" th:field="*{driver}" class="form-control">
                        <option value="null">-- Zvolte řidiče --</option>
                        <option th:each="p : ${persons}" th:value="${p.id}" th:text="${p.fullname}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <select id="vehicle" th:field="*{vehicle}" class="form-control">
                        <option value="null">-- Zvolte vozidlo --</option>
                        <option th:each="v : ${vehicles}" th:value="${v.id}" th:text="${v.idname}"></option>
                    </select>
                </div>

                <input type="submit" class="btn btn-success" value="Uložit">
                <a href="/routes" class="btn btn-secondary">Storno</a>
            </form>
        </div>
    </div>
</section>
</html>