<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<section>
    <div class="card">
        <div class="card-header">
            <h4>Vozidla
                <div class="float-right">
                    <a href="/vehicle/new" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Přidat</a>
                </div>
            </h4>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Název</th>
                        <th>SPZ</th>
                        <th>Typ</th>
                        <th>Řidič</th>
                        <th>Akce</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${vehicles}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.numberplate}"></td>
                        <td th:text="${p.vehicletype?.displayValue}"></td>
                        <td th:text="${p.driver?.fullname}"></td>
                        <td>
                            <a th:href="@{/vehicle/edit/{id}(id=${p.id})}" class=""><i class="fas fa-edit mr-1"></i></a>
                            <a th:href="@{/vehicle/delete/{id}(id=${p.id})}" class="text-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</html>